<!-- <mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>book</mat-icon>
  </button>
  <span>Note App</span>
  <span class="example-spacer"></span>
  <div *ngIf="authenticated">
    <button>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
    </button>
    <span>LogOut</span>
  </div>
</mat-toolbar> -->

<!-- <mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>note</mat-icon>
  </button>
  <span>My Note App</span>
  <span class="example-spacer"></span>
  <div *ngIf="authenticated">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>logout</mat-icon>
    </button>
    <span>LogOut</span>
  </div>
</mat-toolbar> -->
<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>sticky_note_2</mat-icon>
  </button>
  <span>My Note App</span>
  <span class="example-spacer"></span>
  <div *ngIf="authenticated">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>logout</mat-icon>
    </button>
    <span>Logout</span>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>
